  body {
    margin: 0;
    background-color: #0E1113;
  }
  main{
    height: 100vh;
    place-items: center;
}
.container{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;

}

.container_introducao{
  margin: 5vw;
}

header {
  font-size: 20px;
  display:  flex;
  justify-content: space-around;
  color: white;
  padding: 15px 0;
  margin-bottom: 5vw;
}

.container_header{
  align-items: center;
}

nav a, .header_nome {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover, .header_nome:hover {
  text-decoration: underline;
}

.text_introducao{
  margin: auto;
  color: white;
}

.img_perfil{
  margin: auto;
  margin-left: 0;
  border-radius: 50%;
  width: 23vw;
  height: 23vw;
}

#titulo_projeto{
  margin: 5vw;
  margin-bottom: 2vw;
  justify-self: start;
  color: white;
}

.card_projetos{
  margin-bottom: 5vw;
  background: #0E1113;
  border: 0.2vw solid #212427;
  color: white;
  padding: 1vw;
  border-radius: 10px;

}
.img-full {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Faz a imagem preencher e cortar se necessário */
  display: block; /* Remove espaços extras abaixo da imagem */
}


.cartao {
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 280px;
  border: 0.2vw solid #212427;
  background: #0E1113;
  
}

.titulo {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.linha {
  border-left: 2px solid #444;
  padding-left: 20px;
}

.item {
  position: relative;
  margin-bottom: 20px;
}

.ponto {
  width: 10px;
  height: 10px;
  background: #888;
  border-radius: 50%;
  position: absolute;
  left: -15px;
  top: 6px;
}

.periodo {
  font-size: 14px;
  color: #ccc;
}
